

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}



/* ---- base ---- */
html{
	background-color: #990f0f;
}

html,body{ 
	width:100%;
	height:100%;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:float;
  vertical-align:bottom;
}

.top-heading{
	color: white;
	font-family: helvetica;
	font-size:100px;
	margin-top:-35%;
}

.heading-buffer{
	width: 100%;
	height:57.9%;
}

.synchrotron-structure{
	width: 100%;
	height: 110%;
	background-image: url("../resources/media/background2.png");
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.colliders-and-sychrotrons{
	width: 100%;
	height: 110%;
	background-image: url("../resources/media/background3.png");
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.SS-header{
	width: 100%;
	height: 10%;
	color: black;
	font-size: 400%;
	font-family: helvetica;
	font-weight: 900;
}

.CAS-header{
	width: 100%;
	height: 10%;
	color: white;
	font-size: 400%;
	font-family: helvetica;
	font-weight: 900;
	text-align: right;
}

.SS-heavy-container{
	width:100%;
	height: 90%;
	display: flex;
	flex-direction: row;
}

.CAS-heavy-container{
	width:100%;
	height: 90%;
	display: flex;
	flex-direction: row;
}

.SS-img-container{
	flex: 1;
	height: 100%;
}

.CAS-img-container{
	flex: 1;
	height: 100%;
}

.SS-img-container img{
	width: 75%;
	height: 50%;
}

.CAS-img-container img{
	width: 70%;
	height: 45%;
	
}

.SS-img-container video{
	width: 75%;
	height: 50%;
}

.SS-info-container{
	flex: 1;
	height: 100%;
}

.CAS-info-container{
	flex: 1;
	height: 100%;
}

.CAS-info-container span{
	font-family: helvetica;
	font-size: 170%;
	color: white;
}

.SS-info-container span{
	font-family: helvetica;
	font-size: 140%;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url("../resources/media/background.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
